body {
    background-color: DarkGrey;
    font-family: Helvetica, Arial, sans-serif;
}

input, select {
    background-color: LightGrey;
    border: 1px solid;
    height: 25px;
    padding: 5px;
}

.error-message {
    border: 2px solid red;
    background-color: pink;
    margin: 5px;
    padding: 3px;
    width: 25%;
    display: none;
}